<div class="bg-dark text-white p-3" style="min-width: 220px;">
  <h4>Admin Menu</h4>
  <hr>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Dashboard", admin_root_path, class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Accueil", "#", class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "XP Pro", "#", class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Formation", "#", class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Skills", "#", class: "nav-link text-white" %>
    </li>
    <li class="nav-item">
      <%= link_to "Projets", "#", class: "nav-link text-white" %>
    </li>
  </ul>
</div>